<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>About Us</title>
</head>
<body>
<div layout:fragment="content">


    <h3>Who we are</h3>
    <p>
        TSU shefebi is a small group of friends who refer to themselves as
        "animeshniki sazogadeeba". These young visionaries met and bonded over their shared love for the unusual dishes found in games, animes, and more. They dreamt of bringing these fantastical recipes to life and opening a restaurant that celebrates creativity and culture.
    </p>
    <h2>Our story</h2>

    <p>
        As time went on, our passion evolved into a true culinary adventure. We began experimenting with flavors and techniques inspired by our favorite shows, games, and novels—merging the vibrant world of pop culture with the art of cooking. Every recipe became a tribute to our creative spirit and a celebration of the stories that sparked our imaginations.
    </p>
    <h2>Nowadays</h2>
    <p>
        Today, TSU shefebi is more than just a group of friends—it’s a community of food enthusiasts, dreamers, and innovators. Our vision is to create a dining experience that transports you into the realms of fantasy and nostalgia, where every dish has its own story to tell. From themed menus that echo the adventures of beloved characters to seasonal specials that pay homage to classic tales, our restaurant is a place where creativity meets culinary excellence.
    </p>

    <p>
        We invite you to join us on this journey. Whether you're a long-time fan of anime and games or simply someone with a curious palate, there’s a spot for you at our table. At TSU shefebi, every meal is an opportunity to explore new worlds, share laughter, and create memories that last a lifetime.
    </p>



</div>
</body>
</html>